{% extends 'home/base.html' %}

{% block title %}Student Pal{% endblock %}

{% block content %}
  <h2>Home</h2>
  <header>
    {% if user.is_authenticated %}
      {% if user.first_name %}
        Hi {{ user.first_name }}!
      {% else %}
        Hi {{ user.username }}!
      {% endif %}
      <a href="{% url 'logout' %}">logout</a>
      <a href="{% url 'user_info' %}">info</a>
      <a href="{% url 'events' %}">schedule</a>
      <a href="{% url 'home' %}">Performnce</a>
      {% if user.is_superuser %}
        <br>
        Go to <a href="{% url 'admin:index' %}">admin</a> site.
      {% endif %}
    {% else %}
      <p>You're not logged in yet. <a href="{% url 'login' %}">Login</a>?</p>
      <p>Not a member? <a href="{% url 'signup' %}">Sign up</a>.</p>
    {% endif %}
  </header>
{% endblock %}
