BUGS NOTICED TILL NOW:
======================

-- The /signup page creates a user with empty password and given username though the validation failed, thus not allowing the user to create the account with the username he wished later.
-- MaxValueValidator, MinValueValidator not working in models Course, Exam, Profile. Check them.


REQUIREMENTS:
=============

-- Profile pic and Resume fields should be added in profileinfo app.
