<!DOCTYPE html>
<html>
<title>Personal Info</title>
<body>
    {% if user.is_authenticated %}
        <form>
            Username      : <input type="text" value="{{ user.username }}"><br><br>
            First name    : <input type="text" value="{{ user.first_name }}"><br><br>
            Last name     : <input type="text" value="{{ user.last_name }}"><br><br>
            Email Address : <input type="email" value="{{ user.email }}"><br><br>
            University    : <input type="text" value="{{ user.profile.univ }}"><br><br>
            Date of birth : <input type="text" value="{{ user.profile.dob }}"><br><br>
            Gender        : <input type="text" value="{{ user.profile.gender }}"><br><br>
            About me      : <input type="text" value="{{ user.profile.aboutme }}"><br><br>
        </form>
    {% else %}
        <a href="{% url 'login' %}">Login</a> to view/change your info.
    {% endif %}
</body>
</html>
