{% load static %}
<html>
<title> Schedule </title>
<center>
<style>
#navbarr {
    font-family: 'Shadows Into Light', cursive;

    }
    </style>
<head>
<link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body style="background: white;">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="navbarr">
      <div class="container">
        <a class="navbar-brand" href="{% url 'homepage' %}" style="font-size:300%;";><b>StuDent Pal bro</b></a>
        <a href="{% url 'homepage' %}" style="font-size:200%; color:#80D343;">Go to Home</a>
      </div>
    </nav>

	<h1> Schedule your events here! </h1>  
	<h2> <span id="clock"></span> <br> </h2>
	<a href="{% url 'create' %}"> 
	<button type="submit" class="btn btn-success"> Add Event </button>
	</a> <br> <br> 
	<a href="{% url 'update_event' %}">
	<button type="button" class="btn btn-success"> Update Event </button>
	</a> <br> <br>
	<a href="{% url 'delete_event' %}"> 
	<button type="button" class="btn btn-success"> Delete Event </button>
	</a> <br> <br>
	<a href="{% url 'all_events' %}">
	<button type="button" class="btn btn-success"> All Events </button>
	</a>
</body>
</center>
</html>
<script type="text/javascript">

	var clockElement = document.getElementById("clock")
	function updateClock ( clock ) {
		 d = new Date();
		 utc = d.getTime();
		 bombay = utc + (3600000*5.5);
    	 time = new Date(bombay).toLocaleTimeString();
    	 date = new Date(bombay).toDateString();
    	 clockElement.innerHTML = date + "," + time;
	}
	setInterval(function () {
    updateClock( clockElement );
	}, 1);
</script>